body {
  background-color: grey;
}


.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  float: right;

}

.img-overlay-wrap img { /* <= optional, for responsiveness */
   display: block;
   max-width: 100%;
   height: auto;
   max-height: 630px ;

}

.img-overlay-wrap svg {
  position: absolute;
  opacity: 0.7;
  z-index: -1;
  top: 0;
  left: 0;
}

