.Connecter3 {
	width: 200px;
	position: absolute;
	margin: 0 auto;
	left: 33.5%;
	top: 1365px;
}
.Connecter2 {
	width: 200px;
	position: absolute;
	margin: 0 auto;
	left: 33.5%;
	top: 850px;
}
.Connecter {
	width: 200px;
	position: absolute;
	margin: 0 auto;
	left: 33.5%;
	top: 340px;
}
.Course-Button #capstone {
	width: 140px;
	margin-left: 10px;
	margin-top: 15px ;
}
.Course-Button #power {
	width: 130px;
	margin-left: 12px;
	margin-top: 10px ;
}
.Course-Button #command {
	width: 115px;
	margin: 20px;
}
.Course-Button #cursor {
	width: 100px;
	margin-left: 25px;
	margin-top: 10px ;
}
.Course-Button {
	margin-left: 35%;
	width: 160px;
	height: 160px;
	background: black ;
	border-radius: 100px;
	border: 3px solid yellow;
	position: relative;
}
#one {
	top: 200px;
}
#two {
	top: 550px;
}
#three {
	top: 900px;
}
#four {
	top: 1250px;
}
.Description {
	width: 470px;
}
.Course-Button:hover{
	-webkit-animation: YellowGlowAndGrowth .1s linear ;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: YellowGlowAndGrowth .1s linear ;
	-moz-animation-fill-mode: forwards;
}
.Course-Slider {
	background: black;
	position: absolute;
	width: 480px;
	margin-left: 37%;
	left: 180px;
	text-align: center;
	border-style: groove;
	border-color: gold yellow gold yellow;
	border-width: 5px;
	box-shadow: 0px 0px 30px #F9FF85;
	color: gold;
}
.Teacher {
	border-radius: 100px ;
	border-style: dotted;
	border-color: gold ;
	border-width: 5px;
	box-shadow: 0px 0px 30px #F9FF85;
	width: 160px;
}
#CSP {
	top: 100px;
	display: none;
}
#APCSA {
	top: 600px;
	display: none;
}
#CSA {
	top: 1100px;
	display: none;
}
#CSC {
	top: 1600px;
	display: none;
}
.Course-Icon {
	width: 160px
}
.course-holder {
	background-color: black;
	color: white;
	position: absolute;
	width: 100% ;
	height: 2100px;
	overflow: hidden;
}
@font-face {
	font-family: Digital;
	src: url('../images/Designer Block.ttf') format('truetype');
}

.background-holder {
	background: url('../Technology/Informatics BG.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 1000px;
}
.Department h1 {
	font: 400% "Digital", Helvetica ;
	color: gold;
	background: rgba(0,0,0,0.75);
	border-radius: 40px;
	text-align: center;
 	width: 100%;
 	position: absolute;
 	top: 115%;
 	left: 0;
}
.Pete  {
	text-align: center;
}
 .Pete img {
  	width: 400px;
 	position: absolute;
 	top: 300px;
 	margin-left: -200px ;
}
.Title {
	background:-webkit-linear-gradient(left top, skyblue, orange);
	background:-moz-linear-gradient(left top, skyblue, orange);
	position: absolute;
	height: 250px;
	top: 0px;
	width: 100%;
	z-index: 2 ;
	overflow: hidden;
}
@font-face {
	font-family: Venus;
	src: url('../images/venus rising rg.ttf') format('truetype');
}
.Title h1 {
	font: 50px "Venus", Helvetica ;
	text-align: center;
	font-weight: 900;
	letter-spacing: 2px;
}
.Title a {
	color: black;
	text-decoration: none;
}
.Title a:hover {
	color: black;
	text-decoration: none;
}
.Title .gear {
	max-width: 80px;
	position:relative;
	margin-top: 10%;
	left: 5%;
}
.gearButton{
	width: 90px;
	height: 90px;
	background: rgba(255,255,255,0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 50px;
	border-color: red;
}
.gearButton:hover{
	-webkit-animation: RedColorfade .25s linear ;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: RedColorfade .25s linear ;
	-moz-animation-fill-mode: forwards;
	border: 10px;
}
.gearButton h5 {
	position: relative;
	top: -35px;
	text-align: center;
	color: rgba(255,255,255,0);
}
.gearButton:hover h5 {
	 -webkit-animation: RedTextFade .25s linear;
	 -webkit-animation-fill-mode: forwards;
	 -moz-animation: RedTextFade .25s linear;
	 -moz-animation-fill-mode: forwards;
}
.Title .computer {
	max-width: 70px;
	position: relative;
	left: 8%;
	margin-top:  20%;
}
.computerButton {
	width: 90px;
	height: 90px;
	background: rgba(255,255,255,0.5);
	position: absolute;
	bottom: 0;
	margin-left: 29%;
	border-radius: 50px;
	border-color: yellow;
}
.computerButton:hover {
	-webkit-animation: YellowColorfade .25s linear ;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: YellowColorfade .25s linear ;
	-moz-animation-fill-mode: forwards;
	border: 10px;
}
.computerButton h5 {
	position: relative;
	top: -35px;
	color: rgba(255,255,255,0);
	width: 0px;
	text-align: center;
}
.computerButton:hover h5 {
	 -webkit-animation: YellowTextFade .25s linear;
	 -webkit-animation-fill-mode: forwards;
	 -moz-animation: YellowTextFade .25s linear;
	 -moz-animation-fill-mode: forwards;
}
.Title .compass {
	max-width: 70px;
	position: relative;
	left: 12%;
	margin-top: 10% ;
}
.compassButton {
	width: 90px;
	height: 90px;
	background: rgba(255,255,255,0.5);
	position: absolute;
	bottom: 0;
	margin-left: 60%;
	border-radius: 50px;
	border-color: blue ;
}
.compassButton:hover {
	-webkit-animation: BlueColorfade .25s linear ;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: BlueColorfade .25s linear ;
	-moz-animation-fill-mode: forwards;
	border: 10px;
}
.compassButton h5 {
	position: relative;
	top: -35px;
	text-align: center;
	color: rgba(255,255,255,0);
}
.compassButton:hover h5 {
	 -webkit-animation:BlueTextFade .25s linear;
	 -webkit-animation-fill-mode: forwards;
	 -moz-animation: BlueTextFade .25s linear;
	 -moz-animation-fill-mode: forwards;
}
.Title .letter {
	max-width: 80px;
	position: relative;
	padding-top: .1%;
	left: 5%;
	margin-top: 8%;
}
.letterButton {
	width: 90px;
	height: 90px;
	background: rgba(255,255,255,0.5);
	position: absolute;
	right: 0;
	bottom: 0;
	float: right;
	border-radius: 50px;
	border-color: white;
}
.letterButton:hover {
	-webkit-animation: WhiteColorfade .25s linear ;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: WhiteColorfade .25s linear ;
	-moz-animation-fill-mode: forwards;
	border: 10px;
}
.letterButton h5 {
	position: relative;
	top: -40px;
	text-align: center;
	color: rgba(255,255,255,0);
}
.letterButton:hover h5 {
	 -webkit-animation:WhiteTextFade .25s linear;
	 -webkit-animation-fill-mode: forwards;
	 -moz-animation:WhiteTextFade .25s linear;
	 -moz-animation-fill-mode: forwards;
}
@keyframes YellowGlowAndGrowth {
	0% {
		background: rgba(255,255,255,0.5)
	}
	100% {
		transform: scale(1.3,1.3);
		box-shadow: 0px 0px 30px #F9FF85;
	}
}

@keyframes RedTextFade {
	0% {
		color: rgba(255,255,255,0);
		width: 0px;
	}
	100% {
		color: red;
		background-color: black ;
		width: 100px;
	}
}
@keyframes WhiteTextFade {
	0% {
		color: rgba(255,255,255,0);
		width: 0px;
	}
	100% {
		color: rgba(255,255,255,1);
		background-color: black ;
		width: 100px;
	}
}
@keyframes BlueTextFade {
	0% {
		color: rgba(255,255,255,0);
		width: 0px;
	}
	100% {
		color: lightblue;
		background-color: black ;
		width: 100px;
	}
}
@keyframes YellowTextFade {
	0% {
		color: rgba(255,255,255,0);
		width: 0px;

	}
	100% {
		color: yellow;
		background-color: black ;
		width: 100px
	}
}

@keyframes WhiteColorfade {
	0% {
		background: rgba(255,255,255,0.5)
	}
	100% {
		background: rgba(255,255,255,0.85);
		transform: scale(1.3,1.3);
	}
}
@keyframes BlueColorfade {
	0% {
		background: rgba(255,255,255,0.5)
	}
	100% {
		background: rgba(164,219,255,0.85);
		transform: scale(1.3,1.3);
	}
}
@keyframes YellowColorfade {
	0% {
		background: rgba(255,255,255,0.5)
	}
	100% {
		background: rgba(255,251,119,0.85);
		transform: scale(1.3,1.3);
	}
}
@keyframes RedColorfade {
	0% {
		background: rgba(255,255,255,0.5)
	}
	100% {
		background: rgba(255,119,119,0.85);
		transform: scale(1.3,1.3);
	}
}